@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderSpin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-borderSpin {
  background-size: 300% 300%;
  animation: borderSpin 6s linear infinite;
}
